<!doctype html>
<html lang="en">

<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
          integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">

    <link rel="icon" href="\images\icon.png"/>
    <link rel="stylesheet" href="/stylesheets/style.css">
    <title>About</title>
</head>

<body class="homeBackground">
<!--top corner div-->
<div id="topcorner"></div>

<!--container begining-->
<div class="container mt" >
    <div class="row justify-content-around">

        <!--side column-->
        <div class="col-md-4 mt">

            <!--header's icon & title-->
            <div class="card headerImageCard">
                <div class="card-body">
                    <!--header's icon-->
                    <div class="row justify-content-center">
                        <div class="col-md-7 col-7">
                            <img class="w-100 mb-2" src="\images\icon.png" alt="main image">
                        </div>
                    </div>

                    <!--header's title-->
                    <div class="row justify-content-center">
                        <div class="col-md-7 col-5">
                            <h4 class="titleFont">Pinkish Vibes</h4>
                        </div>
                    </div>

                </div>
            </div>


            <!--page's qoute-->
            <div class="row justify-content-center mt">
                <div class="col-md-10 col-7">
                    <p class="qoutFont">"Find A Reason To Smile Everyday"</p>
                </div>
            </div>

            <!--pages links-->
            <div class="row justify-content-center">
                <div class="col-md-9 col-6 linksBorder">
                    <div class="row ">
                        <div class="col-md-8 col-5">
                            <a href="/home">
                                <button class="btn btn-link sideButtonsColor " >
                                    <img class="menuIcons" src="\images\home.png" alt="">
                                    Home
                                </button>
                            </a>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-8 col-5">
                            <a href="/about" >
                                <button class="btn btn-link sideButtonsColor" >
                                    <img class="menuIcons" src="\images\aboutMe.png" alt="">
                                    About
                                </button>
                            </a>
                        </div>
                    </div>
                    <div class="row ">
                        <div class="col-md-9 col-6">
                            <a href="/favourites">
                                <button class="btn btn-link sideButtonsColor" >
                                    <img class="menuIcons" src="\images\favorite.png" alt="" >
                                    Favourites
                                </button>
                            </a>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-9 col-6">
                            <div class="dropdown">
                                <button class="btn btn-link dropdown-toggle sideButtonsColor" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                    <img class="menuIcons" src="\images\categories.png" id="dropdownMenuButton">
                                    Categories
                                </button>
                                <div class="dropdown-menu dropdownBorder" aria-labelledby="dropdownMenuButton">
                                    <a class="dropdown-item dropdownBorder" href="/travelling">Travelling</a>
                                    <a class="dropdown-item dropdownBorder" href="/art">Art</a>
                                    <a class="dropdown-item dropdownBorder" href="/cooking">Cooking</a>
                                    <a class="dropdown-item dropdownBorder" href="/technology">Technology</a>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row ">
                        <div class="col-md-9 col-6">
                            <a href="/feedback">
                                <button class="btn btn-link sideButtonsColor" >
                                    <img class="menuIcons" src="\images\feedback.png" alt="" >
                                    Feedback
                                </button>
                            </a>
                        </div>
                    </div>
                </div>
            </div>

            <!--end of pages links-->



        </div>
        <!--end of side column-->

        <!--main content of the page-->
        <div class="col-md-8 col-12">
            <div class="card mt mainContentsBg mb-3">
                <div class="card-body">
                    <h3 class="qAndA">What Is Pinkish Vibes ?</h3>
                    <p class="articleText">
                        Pinkish Vibes is a simple blog made by Fatima oday an iraqi Cs student who is passionate about coding.
                    </p>
                    <br><br>
                    <h3 class="qAndA">What Does Pinkish Vibes provid ?</h3>
                    <p class="articleText">
                        Pinkish vibes provide various atricles in four main categories travelling,art, cooking and technology.
                    </p>
                    <br><br>
                    <h3 class="qAndA">What Can I Do In Pinkish Vibes ?</h3>
                    <p class="articleText">
                        You can add, delete and edit any article. You also can (heart) your favourite articles so you can view them in the favourite articles page.
                    </p>
                    <br><br>
                    <h3 class="qAndA">Are There any Rules On Posting Articles ?</h3>
                    <p class="articleText">
                        No,there isn't. as long as you're posting an appropriate, beneficial articles in the right category, you're free to post whatever you like
                    </p>
                    <br><br>
                    <h3 class="qAndA">Any Additional Notes ?</h3>
                    <p class="articleText">
                        If you are a user please support us and let us know about your opinions and suggestions about this blog in the feedbacks page.               and if you have admin's password you'll be able to access admin's control panel and view the statistics and feedbacks.
                    </p>
                </div>
            </div>
        </div>
        <!--end of main content-->


    </div>
</div>

<!---------------------------------------------------------footer-------------------------------------------------------->
<footer class="text-muted pt-2" id="root" style="background-color: whitesmoke">
    <div class="container-fluid mt">
        <div class="row">

            <!--copyright-->
            <div class="col-md-3 col-12 order-md-1 order-4">
                <p>All rights reserved to Fatima Oday <br> © copyright 2018</p>
            </div>

            <!--external links-->
            <div class="col-md-3 col order-md-2 order-1">
                <a v-for="externalLink in externalLinks" :href="externalLink.link">
                    <img class="footerExternalLinks" :src="externalLink.image">
                </a>
            </div>

            <!--Admin's Control Panel-->
            <div class="col-md-3 col order-md-3 order-2">
                <a href="/adminsControlPanel" class="instructionFont">Admin's Control Panel</a>
            </div>

            <!--back to top-->
            <div class="col-md-3 col order-md-4 order-3">
                <p class="float-right instructionFont">
                    <a href="#">Back to top</a>
                </p>
            </div>
        </div>
    </div>
</footer>

<!-- Optional JavaScript -->
<!-- jQuery first, then Popper.js, then Bootstrap JS -->
<script src="https://code.jquery.com/jquery-3.2.1.slim.min.js"
        integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN"
        crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"
        integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q"
        crossorigin="anonymous"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"
        integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl"
        crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/vue@2.5.13/dist/vue.js"></script>
<script src="https://unpkg.com/axios/dist/axios.min.js"></script>
<script>
    var app = new Vue({
        el:"#root",
        data:{
            externalLinks:[
                {image:"/images/facebook.png", link:"https://www.facebook.com/fatma.oday.1"},
                {image:"/images/instagram.png", link:"https://www.instagram.com/fatma.oday/" },
                {image:"/images/github.png", link:"https://github.com/fatimaoday"}
            ]
        }
    })

</script>
</body>
</html>