<!doctype html>
<html lang="en" class="h-100">
<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
          integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">

    <link rel="icon" href="\images\icon.png"/>
    <link rel="stylesheet" href="/stylesheets/style.css">

    <title>Welcome To Pinkish Vibes</title>
</head>


<body class="indexBg h-100">

    <div class="container-fluid indexLayerBg h-100" id="root">
            <div class="row justify-content-center align-items-center h-100">
                <div class="col-md-10 col-12">

                    <!--heading row-->
                    <div class="row justify-content-center">
                        <div class="col-md-12 col-12">
                            <h1 class="indexHeaderFont txtAlign">Welcome To Pinkish Vibes Blog</h1>
                        </div>
                    </div>

                    <!--paragraph row-->
                    <div class="row justify-content-center">
                        <div class="col-md-4 col-8">
                            <p class="instructionFont txtAlign">please enter the password to sign in and go to home page</p>
                        </div>
                    </div>
                    <!--input row-->
                    <div class="row justify-content-center">
                        <div class="col-md-4 col-8">
                            <div class="form-group">
                                <input v-model="info.password" type="password" class="form-control" id="exampleInputEmail1" onkeydown = "if (event.keyCode == 13)document.getElementById('btnSearch').click()" >
                            </div>
                        </div>
                    </div>

                    <!--button row-->
                    <div class="row justify-content-center">
                        <div class="col-md-1 col-2">
                            <button @click="checkPassword" id = "btnSearch" type="button" class="btn btn-outline-dark instructionFont indexButton">Go</button>
                        </div>
                    </div>

                </div>
            </div>
    </div>

<!-- Optional JavaScript -->
<!-- jQuery first, then Popper.js, then Bootstrap JS -->
<script src="https://code.jquery.com/jquery-3.2.1.slim.min.js"
        integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN"
        crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"
        integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q"
        crossorigin="anonymous"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"
        integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl"
        crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/vue@2.5.13/dist/vue.js"></script>
    <script src="https://unpkg.com/axios/dist/axios.min.js"></script>
    <script>
        var app = new Vue({
            el:"#root",
            data:{
                info:{password:"", result:false}
            },
            methods:{
                checkPassword:function () {
                    axios.post('/managementApi', {password: app.info}).then(function (response) {
                        if (response.data.result == true){
                            window.location.href = "/home";
                        }
                        else {
                            alert("Your Password Is Wrong !!")
                        }
                    })
                }
            }
        })
    </script>
</body>
</html>